@font-face {
	font-family: 'TT Lakes';
	src: local('TT Lakes Medium'), local('TTLakes-Medium'),
		url('../fonts/TTLakes/TTLakes-Medium.eot') format('embedded-opentype'),
		url('../fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
		url('../fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: local('TT Lakes Bold'), local('TTLakes-Bold'),
		url('../fonts/TTLakes/TTLakes-Bold.eot') format('embedded-opentype'),
		url('../fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
		url('../fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: local('TT Lakes Regular'), local('TTLakes-Regular'),
		url('../fonts/TTLakes/TTLakes-Regular.eot') format('embedded-opentype'),
		url('../fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
		url('../fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'TT Lakes';
	font-weight: normal;
	background-color: #F2F2F2;
	margin: 0 auto;
	color: #1B1C21;
}

h1,
h2,
ul,
p {
	margin: 0;
	padding: 0;
}

.btn {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	align-items: inherit;
	text-align: inherit;
	cursor: pointer;
	box-sizing: border-box;
}

.services-container {
	background-color: #F2F2F2;
}

.services-container__header {
	background: linear-gradient(270deg, #F8F8F8 0%, #ffffff 98.61%);
}

.sub-title {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #7E7E82;
	text-transform: uppercase;
	border-top: 1px solid #D9FFF5;
	padding: 16px;
}

.services-container__navigation {
	overflow: hidden;
	padding: 16px;
	padding-right: 0;
	display: flex;
}

.services-container__list {
	list-style-type: none;
}

.services-container__item:last-child {
	padding-right: 16px;
}

.services-container__navigation::after {
	content: "";
	display: block;
	width: 24px;
	height: 72px;
	margin-left: calc(100vw - 24px - 16px);
	z-index: 1;
	position: absolute;
	background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.btn--pink-bord {
	border: 2px solid #FF3E79;
}

.btn--ring {
	margin-left: auto;
}

.btn--ring::before {
	content: "";
	width: 8px;
	height: 2px;
	position: relative;
	margin-top: 14.75px;
	margin-left: 15px;
	display: block;
	transform: rotate(45deg);
	border: 1px solid #FF3E79;
	border-radius: 20px;
	background-color: #FF3E79;
}

.btn--ring::after {
	content: "";
	width: 8px;
	height: 2px;
	position: relative;
	margin-top: 2.25px;
	margin-left: 15px;
	display: block;
	transform: rotate(-45deg);
	border: 1px solid #FF3E79;
	border-radius: 1px;
	background-color: #FF3E79;
}

.btn--size--s {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-position: center;
}

.btn--icon-lenovo {
	background-image: url(../img/firm/lenovo.png);
}

.btn--icon-samsung {
	background-image: url(../img/firm/samsung.png);
}

.btn--icon-apple {
	background-image: url(../img/firm/apple.png);
}

.btn--icon-viewsonic {
	background-image: url(../img/firm/viewsonic.png);
}

.btn--icon-bosch {
	background-image: url(../img/firm/bosch.png);
}

.btn--icon-hp {
	background-image: url(../img/firm/hp.png);
}

.btn--icon-aser {
	background-image: url(../img/firm/aser.png);
}

.btn--icon-sony {
	background-image: url(../img/firm/sony.png);
}

.services-container__btn {
	width: 240px;
	height: 72px;
	background-color: #ffffff;
	border: 1px solid #EAEAEA;
	border-radius: 6px;
	background-position: 16px;
	padding: 0 16px;
}

.btn-container {
	display: none;
}

.swiper {
	height: 116px;
}

.swiper-wrapper .swiper-slide {
	width: 240px;
	height: 72px;
}

.swiper-pagination span.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #B5B6BC;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 6px;
}

/*---------------------- 768 -----------------------*/

@media (min-width: 768px) {

	.services-container__header {
		background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
	}

	.sub-title {
		padding-left: 24px;
	}

	.services-container__navigation {
		padding: 24px;
	}

	.services-container__list {
		display: flex;
		height: 160px;
		flex-wrap: wrap;
		overflow: hidden;
		row-gap: 16px;
		column-gap: 24px;
		justify-content: flex-start;
	}

	.services-container__item:last-child {
		padding-right: 0;
	}

	.services-container__navigation::after {
		display: none;
		background: linear-gradient(270deg, #ff0000 16.84%, rgba(248, 248, 248, 0.0001) 100%);
	}

	.services-container__btn,
	.services-container__item,
	.swiper-wrapper .swiper-slide {
		width: 224px;
	}

	.btn-show-hide {
		margin: 24px 9px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
	}

	.btn-show-hide::before {
		content: "";
		width: 8px;
		height: 11px;
		background-image: url(../img/icons/arrows.svg);
	}

	.btn-container {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.swiper {
		width: auto;
		height: auto;
	}

	.swiper-pagination {
		display: none;
	}

	/*Кнопка показать-скрыть*/
	.services-container__list--opened {
		height: auto;
		/*336px;*/
	}

	.btn-open {
		margin-top: 46px;
	}

	.btn-open::before {
		transform: rotate(180deg);
	}
}

/*---------------------- 1120 -----------------------*/

@media (min-width: 1120px) {

	.sub-title {
		padding-left: 32px;
	}

	.services-container__navigation {
		padding: 24px 32px;
	}

	.services-container__list {
		column-gap: 32px;
	}

	.services-container__btn,
	.services-container__item,
	.swiper-wrapper .swiper-slide {
		width: 240px;
	}

}