@font-face {
	font-family: 'TT Lakes';
	src: local('TT Lakes Medium'), local('TTLakes-Medium'),
		url('../fonts/TTLakes/TTLakes-Medium.eot') format('embedded-opentype'),
		url('../fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
		url('../fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: local('TT Lakes Bold'), local('TTLakes-Bold'),
		url('../fonts/TTLakes/TTLakes-Bold.eot') format('embedded-opentype'),
		url('../fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
		url('../fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: local('TT Lakes Regular'), local('TTLakes-Regular'),
		url('../fonts/TTLakes/TTLakes-Regular.eot') format('embedded-opentype'),
		url('../fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
		url('../fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'TT Lakes';
	font-weight: normal;
	width: 320px;
	background-color: #F2F2F2;
	margin: 0 auto;
	color: #1B1C21;
}

h1,
p {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}

.header {
	padding: 18.5px 16px;
	background-color: #ffffff;
	border-bottom: 1px solid #D9FFF5;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__support {
	display: none;
}

.main {
	background-color: #F8F8F8;
	overflow: hidden;
}

.main__title-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 24px;
}

.main__title-container::before {
	content: "";
	width: 4px;
	height: 40px;
	margin-right: 16px;
	background-image: url(../img/border.svg);
	background-repeat: no-repeat;
}

.main__title {
	font-size: 28px;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: -0.6px;
}

.menu-container {
	display: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
}

.navigation {
	width: 288px;
	overflow: hidden;
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 24px;
}

.navigation__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	overflow: auto;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #7E7E82;
}

.navigation__list button {
	height: 40;
	padding: 8px 10px 8px 16px;
	border: 2px solid transparent;
	margin-right: 2px;
	white-space: nowrap;
	user-select: none;
	color: #7E7E82;
}

.navigation__list button:focus,
.navigation__list button:active {
	outline: none;
	background-color: #ffffff;
	border: 2px solid #B8FFEC;
	border-radius: 6px;
}

.main__description {
	margin: 24px 16px 0;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.2px;
}

.main__description-continued {
	display: none;
}

.main__read-more {
	margin: 16px 24px;
	padding: 0;
	border: none;
	background-color: transparent;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	display: flex;
	align-items: center;
}

.main__read-more::before {
	content: "";
	width: 8px;
	height: 11px;
	margin-right: 16px;
	background-image: url(../img/arrows.svg);
	background-repeat: no-repeat;
}

/*---------------------- 768 -----------------------*/

@media (min-width: 768px) {
	body {
		width: 768px;
	}

	.header {
		padding: 18.5px 24px;
		justify-content: flex-start;
	}

	.header>:nth-child(n) {
		margin-right: 20px;
	}

	.header button:nth-child(1) {
		order: -3;
	}

	.header img:nth-child(2) {
		order: -1;
	}

	.header img:nth-child(3) {
		order: -2;
	}

	.header__support {
		display: flex;
		margin-left: auto;
	}

	.header__support>:nth-child(n) {
		margin-left: 16px;
	}

	.header__support>:last-child {
		margin-left: 20px;
	}

	.header .header__btn-repair {
		margin-right: 16px;
	}

	.header .header__btn-search {
		margin-right: 0;
	}

	.main__title-container::before {
		margin-right: 20px;
	}

	.navigation {
		width: 720px;
		margin-left: 24px;
		margin-right: 24px;
		margin-top: 32px;
	}

	.navigation__list button {
		padding: 8px 10px 8px 16px;
		margin-right: 0;
	}

	.main__description-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin: 32px 24px;
	}

	.main__description-container img {
		border-radius: 6px;
		width: 360px;
	}

	.main__description {
		margin: 0;
		line-height: 20px;
		width: 312px;
	}

	.main__description-continued {
		display: block;
		margin-top: 24px;
		height: 42px;
		overflow: hidden;
	}

	.main__read-more {
		margin: 10px 9px;
	}
}

/*---------------------- 1120 -----------------------*/

@media (min-width: 1120px) {
	body {
		width: 1120px;
	}

	.header {
		display: none;
	}

	.main__title-container {
		padding-top: 42px;
	}

	.main__title-container::before {
		margin-right: 30px;
	}

	.menu-container {
		display: flex;
		margin-left: auto;
	}

	.menu-container button {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 32px;
	}

	.menu-container img {
		margin-left: 8px;
	}

	.navigation {
		width: 1056px;
		margin-left: 32px;
		margin-right: 32px;
		margin-top: 8px;
	}

	.navigation__list {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.navigation__list button {
		padding: 8px 10px;
		margin-right: 0;
	}

	.navigation__list li:last-child {
		margin-right: auto;
	}

	.main__description-container {
		margin: 19px 29px 19px 32px;
	}

	.main__description-container img {
		width: 532px;
	}

	.main__description {
		width: 480px;
	}

	.main__description-continued {
		height: auto;
	}

	.main__read-more {
		margin: 14px 6px;
	}

}