@font-face {
	font-family: 'TT Lakes';
	src: local('TT Lakes Medium'), local('TTLakes-Medium'),
		url('../fonts/TTLakes/TTLakes-Medium.eot') format('embedded-opentype'),
		url('../fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
		url('../fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: local('TT Lakes Bold'), local('TTLakes-Bold'),
		url('../fonts/TTLakes/TTLakes-Bold.eot') format('embedded-opentype'),
		url('../fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
		url('../fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: local('TT Lakes Regular'), local('TTLakes-Regular'),
		url('../fonts/TTLakes/TTLakes-Regular.eot') format('embedded-opentype'),
		url('../fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
		url('../fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'TT Lakes';
	font-weight: normal;
	background-color: #F2F2F2;
	margin: 0 auto;
	color: #1B1C21;
}

h1,
p {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	align-items: inherit;
	text-align: inherit;
}

.header {
	padding: 18.5px 16px;
	background-color: #ffffff;
	border-bottom: 1px solid #D9FFF5;
	display: flex;
	align-items: center;
	gap: 16px;
}

.header::after {
	content: "";
	/* | */
	margin-left: auto;
	align-self: center;
	height: 32px;
	border: 1px solid #EAEAEA;
	border-radius: 1px;
	order: -3;
}

.header__btn-menu {
	width: 40px;
	height: 40px;
	background-image: url(../img/menu.svg);
	background-repeat: no-repeat;
	order: -5;
}

.header__btn-call {
	width: 40px;
	height: 40px;
	background-image: url(../img/call.svg);
	background-repeat: no-repeat;
}

.header__btn-chat {
	width: 40px;
	height: 40px;
	background-image: url(../img/chat.svg);
	background-repeat: no-repeat;
}

.header__btn-profile {
	width: 40px;
	height: 40px;
	background-image: url(../img/profile.svg);
	background-repeat: no-repeat;
}

.header__btn-repair {
	width: 40px;
	height: 40px;
	background-image: url(../img/repair.svg);
	background-repeat: no-repeat;
}

.header__btn-search {
	width: 40px;
	height: 40px;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
}

.header__btn-logo {
	order: -4;
}

.header__support {
	display: none;
}

.header__support::after {
	content: "";
	/* | */
	margin-left: 20px;
	align-self: center;
	height: 32px;
	border: 1px solid #EAEAEA;
	border-radius: 1px;
}

.main {
	background-color: #F8F8F8;
}

.main__title-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 24px;
}

.main__title-container::before {
	content: "";
	/* || */
	width: 4px;
	height: 40px;
	margin-left: -4px;
	margin-right: 16px;
	border-right: 4px solid #41F6D7;
	border-radius: 4px;
}

.main__title {
	font-size: 28px;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: -0.6px;
}

.menu-container {
	display: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
}

.navigation {
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 24px;
}

.navigation__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	overflow: scroll;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #7E7E82;
}

.navigation__list::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.navigation__list button {

	padding: 8px 10px 8px 16px;
	border: 2px solid transparent;
	margin-right: 2px;
	white-space: nowrap;
	user-select: none;
}

.navigation__list button:focus,
.navigation__list button:active {
	outline: none;
	background-color: #ffffff;
	border: 2px solid #B8FFEC;
	border-radius: 6px;
}

.description__text {
	margin: 24px 16px 0;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.2px;
}

.description__text-continued {
	display: none;
}

.description__btn-read-more {
	margin: 16px 24px;
	padding: 0;
	border: none;
	background-color: transparent;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	display: flex;
	align-items: center;
}

.description__btn-read-more::before {
	content: "";
	width: 8px;
	height: 11px;
	margin-right: 16px;
	background-image: url(../img/arrows.svg);
	background-repeat: no-repeat;
}

.photo-cps {
	width: 100%;

}

/*---------------------- 768 -----------------------*/

@media (min-width: 768px) {

	.header {
		padding: 18.5px 24px;
		justify-content: flex-start;
		gap: 0;
	}

	.header::after {
		margin-left: 0;
		margin-right: 20px;
	}

	.header>:nth-child(n) {
		margin-right: 20px;
	}

	.header__btn-logo {
		order: -2;
	}

	.header__support {
		display: flex;
		align-items: center;
		margin-left: auto;
	}

	.header__support>:nth-child(n) {
		margin-left: 16px;
	}

	.header .header__btn-repair {
		margin-right: 16px;
	}

	.header .header__btn-search {
		margin-right: 0;
	}

	.main__title-container::before {
		margin-right: 20px;
	}

	.navigation {
		margin-left: 24px;
		margin-right: 24px;
		margin-top: 32px;
	}

	.navigation__list button {
		padding: 8px 10px 8px 16px;
		margin-right: 0;
	}

	.main__description-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin: 32px 24px;
	}

	.description {
		margin-right: 48px;
	}

	.description__text {
		margin: 0;
		line-height: 20px;
		min-width: 312px;
		max-width: 490px;
	}

	.description__text-continued {
		display: block;
		margin-top: 24px;
		height: 42px;
		overflow: hidden;
	}

	.description__btn-read-more {
		margin: 10px 9px;
	}

	.photo-cps {
		border-radius: 6px;
		max-width: 532px;
		min-width: 360px;
	}
}

/*---------------------- 1120 -----------------------*/

@media (min-width: 1120px) {
	body {
		width: 1120px;
	}

	.header {
		display: none;
	}

	.main__title-container {
		padding-top: 42px;
	}

	.main__title-container::before {
		margin-right: 30px;
	}

	.menu-container {
		display: flex;
		margin-left: auto;
	}

	.menu-container__btn-repair {
		width: 170px;
		height: 40px;
		background-image: url(../img/repair.svg);
		background-repeat: no-repeat;
		background-position: right;
		margin-right: 32px;
	}

	.menu-container__btn-search {
		width: 170px;
		height: 40px;
		background-image: url(../img/search.svg);
		background-repeat: no-repeat;
		background-position: right;
		margin-right: 32px;
	}

	.menu-container img {
		margin-left: 8px;
	}

	.navigation {
		width: 1056px;
		margin-left: 32px;
		margin-right: 32px;
		margin-top: 8px;
	}

	.navigation__list {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.navigation__list button {
		padding: 8px 10px;
		margin-right: 0;
	}

	.navigation__list li:last-child {
		margin-right: auto;
	}

	.main__description-container {
		margin: 19px 29px 19px 32px;
	}

	.description {
		margin-right: 36px;
	}

	.description__text {
		width: 490px;
	}

	.description__text-continued {
		height: auto;
	}

	.description__btn-read-more {
		margin: 14px 6px;
	}

	.photo-cps {
		width: 532px;
	}
}